<main class="main">
  @if (state$ | async; as state) {
    <wordy-word-box [word]="state.target" class="target"></wordy-word-box>
    @if (isAdmin(state)) {
      <button (click)="bumpWin()">bumpWin</button>
      <button (click)="bumpSkip()">bumpSkip</button>
      <button (click)="bumpLoss()">bumpLoss</button>
      <button (click)="resetScore()">resetScore</button>
      <button (click)="sync()">sync</button>
    }

    <div class="players">
      @for (user of state.users; track user.id) {
        <wordy-user [user]="user" [state]="state"></wordy-user>
      }
    </div>

    <p style="clear: both">
      Win: {{ state.winCount }} | Loss: {{ state.lossCount }} | Skip: {{ state.skipCount }} |
      Lives: {{ 13 - (2 * state.lossCount + state.winCount + state.skipCount) }}
      <br>
      @switch (state.phase) {
        @case (Phase.Chill) {
          @if (isAdmin(state)) {
            <button (click)="startHint()">Start Hinting</button>
            <button (click)="resetChill()">Move order</button>
          }
          Take a moment to relax, the game will start soon.
        }
        @case (Phase.Hint) {
          @if (isAdmin(state)) {
            <button (click)="startCheck()">Check hints</button>
            <button (click)="resetHint()">New word</button>
          }
          Green player does not see the word.<br>
          Blue players: write a hint. If your hint is too close to the target word OR ANY OTHER HINT, it will be
            rejected.
        }
        @case (Phase.Check) {

          @if (isAdmin(state)) {
            <button (click)="startGuess()">Start Guessing</button>
            <button (click)="resetCheck()">Reset Check</button>
          }
          Green player does not see the word.<br>
          Blue players: Click on hints that are invalid to discard them (too close to the target word OR ANY OTHER
            HINT).
        }
        @case (Phase.Guess) {
          @if (isAdmin(state)) {
            <button (click)="startChill()">End guess</button>
          }
          Green player: Guess the word
        }
      }
    </p>
  }
</main>
@if (networkHealth$ | async; as networkHealth) {
  <p style="clear: both">network: {{ networkHealth }}</p>
}

<router-outlet/>
