@use "sass:math";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

$bgLight: #f9dcc4;
$bgDark: #fec89a;
$bgSize: 64px;
$text: #ee6055;

:root {
  background-image: linear-gradient(45deg, $bgDark 25%, $bgLight 25%, $bgLight 50%, $bgDark 50%, $bgDark 75%, $bgLight 75%, $bgLight 100%);
  background-size: $bgSize $bgSize;
  color: $text;
  font-family: sans-serif;
}

$cardBack: #fcd5ce;
$cardBorder: #ffb5a7;
$word: #f8edeb;
$border: 10px;
$radius: 20px;
$iconImg: 30px;
$icon: 40px;

$imgSize: 100px;
$imgArea: $imgSize + $radius;

.sbutton {
  display: inline-block;
  position: relative;
  top: 3px;
  width: $icon;
  height: $icon;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &.edit {
    background-color: $text;
    mask-image: url("./assets/user-pen-solid.svg");
    mask-repeat: no-repeat;
    mask-size: $iconImg $iconImg;
    mask-position: center center;
  }

  &.up {
    background-color: $text;
    mask-image: url("./assets/thumbs-up-solid.svg");
    mask-repeat: no-repeat;
    mask-size: $iconImg $iconImg;
    mask-position: center center;
    position: absolute;
    top: $radius;
    left: $border;
  }

  &.down {
    background-color: $text;
    mask-image: url("./assets/thumbs-down-solid.svg");
    mask-repeat: no-repeat;
    mask-size: $iconImg $iconImg;
    mask-position: center center;
    position: absolute;
    top: $radius;
    right: $radius;
  }

  &.strike {
    background-color: $text;
    mask-image: url("./assets/strikethrough-solid.svg");
    mask-repeat: no-repeat;
    mask-size: $iconImg $iconImg;
    mask-position: center center;
    position: absolute;
    top: $radius;
    right: $radius;
  }
}

.players {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(512px, 1fr) );
  margin: auto;
}

wordy-user {
  display: block;
  //width: 512px;
  margin: $radius;
  //float: left;

  & > .card {
    background: $cardBack;
    border: $border solid $cardBorder;
    border-radius: $radius * 2;
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: [col-start] $imgArea [word-start] 1fr [col-end];
    grid-template-rows: [row-start] $radius * 2 [image-start] $imgArea [col-end];

    & > .actions {
      grid-column: col-start / word-start;
      grid-row: row-start / image-start;
      display: flex;
      justify-content: right; /* Horizontal centering */
      align-items: center;
      padding-right: math.div($border, 2);
    }

    & > .name {
      grid-column: word-start / col-end;
      grid-row: row-start / image-start;
      display: flex;
      margin-left: 0;
      justify-content: left; /* Horizontal centering */
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
    }

    & > .image {
      grid-column: col-start / word-start;
      grid-row: image-start / col-end;
      width: $imgArea;
      height: $imgArea;

      & > img {
        margin: math.div($imgArea - $imgSize, 2);
        width: $imgSize;
        height: $imgSize;
        border-radius: $radius;
      }
    }

    & > .word {
      grid-column: word-start / col-end;
      grid-row: image-start / col-end;
      padding: math.div($radius, 2);
      padding-left: 0;
      position: relative;
      //background: purple;
    }

    &.Guesser {
      background: adjust-hue($cardBack, 90);
      border-color: adjust-hue($cardBorder, 90);
    }

    &.Hinter {
      background: adjust-hue($cardBack, 190);
      border-color: adjust-hue($cardBorder, 190);
    }
  }
}

wordy-word-box {
  width: 100%;
  height: 100%;
  text-align: center;
  //background: $word;
  background: white;
  font-size: 2em;
  border-radius: $radius;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;

  &.target {
    font-size: 4em;
    width: 50%;
    margin: auto;
  }
}


p {
  width: 100%;
  height: 100%;
  text-align: left;
  //background: $word;
  background: white;
  border-radius: $radius;
  padding: 1em;
}

img {
  width: 64px;
  height: 32px;
}
